#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PY2VERS := $(shell pyversions -s)

%:
	dh $@ --with python2

override_dh_auto_install:
	set -e ; \
	for python in $(PY2VERS); do \
		$$python setup.py install --no-compile -O0 --install-layout=deb \
			--root $(CURDIR)/debian/python-prettytable; \
	done

override_dh_auto_clean:
	set -e ; \
	for python in $(PY2VERS); do \
	    $$python setup.py clean -a; \
	done
	set -e ; \

override_dh_auto_test:
ifeq ($(filter nocheck,$(DEB_BUILD_OPTIONS)),)
	set -e ; \
	for python in $(PY2VERS); do \
		PYTHONPATH=. $$python debian/prettytable_test.py ; \
	done
endif
